body {
	font-family: Tahoma;
}

button:active, button:focus {
	outline: none;
  }

.container {
	width: 1140px;
	margin: 0 auto;
}

.header {
	padding-top: 80px;
	padding-bottom: 100px;
}

.header-img {
	display: inline-block;
	width: 45%;
	vertical-align: middle;
}

.header-text {
	display: inline-block;
	width: 54%;
	vertical-align: middle;
}

.header-text__title {
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 700;
	color: #000000;
}

.header-text__subtitle {
	margin-bottom: 35px;
	font-size: 30px;
	font-weight: 400;
}

.header-text__descr {
	max-width: 530px;
	margin-bottom: 47px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}

.header-text__price {
	margin-bottom: 53px;
	font-size: 48px;
	font-weight: 400;
}

.button {
	padding: 22px 42px 22px 42px;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: #f05a22;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
}

.button-o {
	padding: 20px 42px 20px 42px;
	margin-left: 40px;
	background-color: transparent;
	border: 2px solid #f05a22;
	color: #f05a22;
}

.features {
	width: 100%;
	padding: 90px 0px 100px 0px;
	background-color: #f2f2f2;
}

.section-title {
	margin-bottom: 70px;
	text-align: center;
	color: #333333;
	font-size: 30px;
	font-weight: 700;
}

.section-wrap::after {
	content: ' ';
	display: table;
	clear: both;
}

.features-block {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 25%;
	float: left;
}

.features-block__img {
	min-height: 50px;
}

.features-block__text {
	margin-top: 12px;
	color: #333333;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
}

.features-block__text__tra {
	display: block;
}

.buyers {
	padding-top: 90px;
	padding-bottom: 110px;
}

.buyers-title {
	text-align: center;
	margin-bottom: 70px;
	color: #333333;
	font-size: 30px;
	font-weight: 700;
}

.buyers-img {
	display: inline-block;
	text-align: center;
	width: 25%;
	float: left;
	margin-bottom: 40px;
}

.buyers-img img {
width: 261px;
height: 261px;
background-size: contain;
}